<h1><a href="#">Botella de Klein</a></h1>
<h2>Botella de Klein<h2>
<p>Una botella de Klein es una superficie cerrada sin frontera, pero tiene un solo lado como una banda de Möbius, que es topológicamente equivalente a un objeto cerrado de cuatro dimensiones sin frontera. Otra forma de verlo es como un  espacio tridimensional sin intersecarse a sí mismo. A diferencia de un toro, que se puede formar pegando los bordes de un rectángulo sin torcerlos, la botella de Klein requiere medio giro en una dirección para pegarse correctamente....</p>
