<h1><a href="#">Copo de Koch</a></h1>
<h2>Copo de Koch<h2>
<p>El copo de nieve de Koch es un fractal matemático que se construye comenzando con un triángulo equilátero y luego reemplazando recursivamente cada segmento de línea recta con un triángulo equilátero más pequeño Este proceso se repite infinitamente. El copo de nieve de Koch tiene un perímetro infinito pero un área finita, y es autosimilar a diferentes escalas, lo que significa que las partes más pequeñas del copo de nieve parecen partes más grandes...</p>
