<h1><a href="#">Nudo (3,8)</a></h1>
<h2>Nudo (3,8)<h2>
<p>El nudo toroide (3,8) se forma enrollando una cuerda alrededor de la superficie de un toroide ocho veces en una dirección y luego cruzando la cuerda sobre sí misma tres veces en la otra dirección antes de volver al punto de partida. El nudo no es trivial.
La lattice del nudo toroide (3,8) tiene un patrón repetido de ocho líneas diagonales, cada una compensada por tres puntos de red de la línea anterior. Estas líneas se cruzan en los puntos de la red que corresponden a las cúspides del nudo....</p>
